<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #memeContainer{
            height: auto;
            display: flex;
           
        }
        #memeContainer img{
            margin: 20px;
            margin: auto;
            height:400px;
            justify-content: center;
        }
    </style>
</head>
<body>


    <div id="memeContainer">
    <img src="<%=memeurl %> " alt="">
    </div>
  <button onclick="refresh()">next</button>
</body>
<script>
    refresh=()=>{
        window.location.reload()
    }
</script>
</html>